.header-page {
  background-position: center center;
  background-image: url(../img/product-header.jpg); }
  .header-page::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(38, 44, 53, 0.8);
    z-index: 1; }
  .header-page .main-text {
    color: white;
    z-index: 2;
    font-family: "Poppins", sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .header-page .main-text h1 {
      text-align: center;
      font-size: 4.8rem;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 60px;
      margin-bottom: 20px; }

.main-page {
  max-width: 1366px;
  margin: auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .main-page .title-section {
    text-align: center;
    width: 50%; }
    .main-page .title-section .title {
      position: relative;
      color: #262c35;
      font-size: 3.2rem;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 40px;
      margin-top: 150px;
      margin-bottom: 20px; }
      .main-page .title-section .title::before {
        content: "";
        width: 50px;
        height: 3px;
        background-color: #728571;
        position: absolute;
        top: -2px;
        left: 50%;
        transform: translateX(-50%); }
    .main-page .title-section .title-desc {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 21px;
      color: #989da7; }
  .main-page .main-section .product-section {
    display: flex;
    margin: 150px 0;
    justify-content: space-between; }
    .main-page .main-section .product-section .img-product {
      width: 50%;
      height: 200%;
      transform: scale(1.3);
      pointer-events: none;
      opacity: 0; }
    .main-page .main-section .product-section .product-description {
      padding: 7rem 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 50%; }
      .main-page .main-section .product-section .product-description .product-name {
        font-size: 3.2rem;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 40px;
        color: #262c35;
        position: relative;
        opacity: 0; }
        .main-page .main-section .product-section .product-description .product-name::before {
          content: "";
          height: 3px;
          width: 70px;
          background-color: #728571;
          position: absolute;
          top: -2px; }
      .main-page .main-section .product-section .product-description .product-info {
        display: flex;
        justify-content: space-between;
        width: 70%;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 21px; }
        .main-page .main-section .product-section .product-description .product-info .info {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          color: #262c35;
          font-weight: 400;
          opacity: 0;
          margin-top: 3rem; }
          .main-page .main-section .product-section .product-description .product-info .info.appear {
            animation: animate 1s ease forwards;
            animation-delay: 500ms; }
          .main-page .main-section .product-section .product-description .product-info .info .img {
            background-color: #99b596;
            border-radius: 50%;
            height: 80px;
            width: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 0.5rem; }
      .main-page .main-section .product-section .product-description .description-text {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 21px;
        color: #989da7;
        opacity: 0;
        margin-top: 4rem; }
      .main-page .main-section .product-section .product-description .option {
        margin-bottom: 3rem;
        opacity: 0;
        margin-top: 2rem; }
        .main-page .main-section .product-section .product-description .option .option-btn {
          border: 1px solid #989da7;
          background-color: transparent;
          padding: 1em 2em;
          margin-right: 1rem;
          color: #728571;
          border-radius: 2px;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 18px; }
          .main-page .main-section .product-section .product-description .option .option-btn.select {
            background-color: #728571;
            color: white; }
            .main-page .main-section .product-section .product-description .option .option-btn.select:hover {
              background-color: #262c35;
              color: white; }
          .main-page .main-section .product-section .product-description .option .option-btn:hover {
            background-color: #728571;
            color: white; }
      .main-page .main-section .product-section .product-description .add-to-cart-btn {
        max-width: 160px;
        background-color: #728571;
        border: none;
        padding: 1em 2em;
        border-radius: 2px;
        opacity: 0;
        color: white;
        font-size: 1.4rem;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 21px; }
        .main-page .main-section .product-section .product-description .add-to-cart-btn:hover {
          background-color: #262c35;
          color: white; }
        .main-page .main-section .product-section .product-description .add-to-cart-btn:disabled {
          background-color: #ced0d2; }

.main-page .main-section .product-section.appear .img-product {
  animation: animateImg 1s ease forwards; }

.main-page .main-section .product-section.appear .product-description .product-name {
  animation: animate 1s ease forwards;
  animation-delay: 250ms; }

.main-page .main-section .product-section.appear .product-description .product-info .info {
  animation: animate 1s ease forwards;
  animation-delay: 500ms; }

.main-page .main-section .product-section.appear .product-description .description-text {
  animation: animate 1s ease forwards;
  animation-delay: 750ms; }

.main-page .main-section .product-section.appear .product-description .option {
  animation: animate 1s ease forwards;
  animation-delay: 1s; }

.main-page .main-section .product-section.appear .product-description .add-to-cart-btn {
  animation: animate 1s ease forwards;
  animation-delay: 1.25s; }

@media only screen and (min-width: 900px) {
  .product-section:nth-child(even) .product-description {
    order: 1; }
  .product-section:nth-child(even) .img-product {
    order: 2;
    margin-right: 2rem !important; } }

@keyframes animateImg {
  0% {
    transform: scale(1.3) translateY(50px);
    opacity: 0; }
  100% {
    transform: scale(1.3) translateY(0);
    opacity: 1; } }

@keyframes animate {
  0% {
    transform: translateY(50px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@media only screen and (max-width: 900px) {
  .header-page .main-text h1 {
    font-size: 2.3rem !important;
    font-weight: 700 !important;
    line-height: 28.75px !important; }
  .main-page .title-section {
    width: 100%;
    margin: 0; }
    .main-page .title-section .title {
      font-size: 2.3rem !important;
      font-weight: 700 !important;
      line-height: 28.75px !important;
      margin-top: 50px; }
    .main-page .title-section .title-desc {
      font-size: 1.2rem !important;
      font-weight: 400 !important;
      line-height: 18px !important;
      width: 100%; }
  .main-page .main-section {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .main-page .main-section .product-section {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 500px;
      width: 100%;
      margin: 0rem 0; }
      .main-page .main-section .product-section:last-child .product-description {
        margin-bottom: 5rem; }
      .main-page .main-section .product-section .img-product {
        max-width: 500px;
        width: 100%;
        margin-top: 0;
        margin-bottom: 3rem;
        margin-left: 0;
        margin-right: 0; }
      .main-page .main-section .product-section .product-description {
        width: 100%;
        justify-content: center;
        align-items: flex-start;
        padding: 0;
        margin-bottom: 5rem;
        margin-right: 0;
        margin-left: 0; }
        .main-page .main-section .product-section .product-description .product-name {
          text-align: left;
          font-size: 2.3rem !important;
          font-weight: 700 !important;
          line-height: 28.75px !important; }
          .main-page .main-section .product-section .product-description .product-name::before {
            content: "";
            height: 3px;
            width: 58px;
            background-color: #728571;
            position: absolute;
            top: -2px;
            left: 0; }
      .main-page .main-section .product-section .product-description {
        margin-bottom: 10rem; }
        .main-page .main-section .product-section .product-description .product-info {
          justify-content: flex-start !important;
          flex: 0 0 0;
          width: 100%;
          align-items: flex-start;
          text-align: left; }
          .main-page .main-section .product-section .product-description .product-info .info {
            text-align: left;
            margin-right: 2rem; }
      .main-page .main-section .product-section .description-text {
        text-align: left;
        margin: 2rem 0;
        font-size: 1.2rem !important;
        font-weight: 400 !important;
        line-height: 18px !important;
        margin: 3rem 0; }
      .main-page .main-section .product-section .option {
        margin-top: 0 !important;
        margin-bottom: 2rem; }
        .main-page .main-section .product-section .option .option-btn {
          font-size: 1rem !important;
          font-weight: 400 !important;
          line-height: 15px !important; }
      .main-page .main-section .product-section:nth-child(even) .product-description {
        order: 2;
        margin-right: 0rem !important; }
      .main-page .main-section .product-section:nth-child(even) .img-product {
        order: 1;
        margin-right: 0;
        margin-left: 0; }
  .main-page .subscribe-footer-section {
    margin-bottom: 5rem !important; } }
